<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery-2.0.3.js" type="text/javascript"></script>
  </head>
  <body>
	  <script type="text/javascript">
		      $(document).ready(function(){
		            refreshTable();
			        });

				    function refreshTable(){
				         $('#networkListHolder').load('/ajax/hop_list', function(){
					      setTimeout(refreshTable, 5000);
					          });
							        }
							</script>
	  <div id="networkListHolder"></div>
  </body>
</html>
